[submodule "modules/Yua-Roleplay"]
	path = modules/Yua-Roleplay
	url = https://github.com/CherryBlossomTavern/Yua-Roleplay
[submodule "modules/Yua-Translations"]
	path = modules/Yua-Translations
	url = https://github.com/CherryBlossomTavern/Yua-Translations
